<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


<%= form_for([@post, @comment]) do |f| %>
	<div class="field">
		<%= f.label :content, "Contenido" %>
		<%= f.text_area :content  %>
	</div>	
	<div class="actions">
    	<%= f.submit %>
 	</div>
<% end -%>
<hr>
	<h2>Comentarios</h2>

<ul>
	<%= @comments.each do |comment| %>
	<% unless comment.id.nil? %>
	
	<li>
		<p><small><%= comment.user %> <%= comment.created_at.strftime("%d/%m/%y %HH:%MM") %></small> <%= link_to "X", post_comment_path(@post, comment), method: :delete, data: {confirm: "Seguro?"} %></p>
		<p><%= comment.content %></p>
	</li>
	<% end %>	
	<% end %>
</ul>
